li {
    list-style: none;
}
.li-top {
    padding: 5px;
    border-radius: 5px;
}
.ul-top {
    padding: 10px;
    width: 30%;
    background: url("https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.1/images/bg-chart.svg");
}
.ul-top li{
    height: 60px;
}
.li-top span {
    line-height: 60px;
    margin-right: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.float-left{
    float: left;
}
.thumb-img {
    width: 60px;
    height: 100%;
    position: relative;
}
.thumb-img img{
    width: 100%;
    border-radius: 5px;
}
.li-top h4{
    margin: 0px 0px 10px 0px;
}
.li-top p{
    float: left;
    margin: 0px;
}
.li-top:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}
.li-top:hover .icon-play{
    display: block;
}
.content-top {
    margin-left: 10px;
}
.li-ms-01 {
    color: dodgerblue !important;
}
.li-ms-02 {
    color: darkseagreen !important;;
}
.li-ms-03 {
    color: darkred !important;;
}
.artist {
    color: #a0a0a0;
}
.title {
    color: #FFF;
}
.icon-play {
    font-size: 30px;
    color: #FFF;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 5555;
    display: none;
}